.box-title > h3 {
    display: contents;
}

.box-title > button {
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

.box-info > tr > td {
    vertical-align:top;
}

.box-info > tr >td:nth-child(2){
    width: 50%;
}

.box-info >tr >td:first-child {
    width: 350px;
}

.qr-caption {
    display: table-caption;
    font-style: italic;
    text-align: center;
}